@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

body {
  font-family: var(--font-merriweather);
  background-color: #1b0000;
}

.app {
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(
    90deg,
    rgb(255, 239, 150) 0%,
    rgba(255, 239, 150, 0.492) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  width: 70%;
  margin: 4em 0 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.25em 1.75em;
  border-radius: 2.5em;
  background: #222000;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.4rem;
  font-family: var(--font-roboto);
  letter-spacing: .5px;
  padding-right: 1em;

  outline: none;
  color: #afa878;
  background: #222000;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 320px;
  height: 450px;
  margin: 1em;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 750ms cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: .25em .25em .75em rgba(0,0,0,.25),
  .125em .125em .25em rgba(0,0,0,.15);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: .5em .5em 1em rgba(0,0,0,.25),
  .25em .25em .5em rgba(0,0,0,.15);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: var(--font-roboto);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: var(--font-merriweather);
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .app {
    padding: 4rem 2rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  .search {
    padding: 1em 1.5em;
    width: 100%;
  }

  .search input {
    font-size: 1.25rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  .search {
    padding-block: .75em;
  }

  .search input {
    font-size: 1rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}